# -- GENERAL
DEBUG_MODE=false

# -- MONITHORNET
NWD_DB_ADDR=""
NWD_DB_PORT=""
NWD_DB_NAME=""
NWD_DB_USER=""
NWD_DB_PASSWD=""

# Renseigner l'adresse ip/domaine de 2 serveurs minimum
PING_SERV1="www.google.fr"
PING_SERV2=""
PING_SERV3=""
# Seuils de niveau d'alerte en ms
LEVEL_1_MS=50
LEVEL_2_MS=230
LEVEL_3_MS=450
# Paramètres du ping
PING_BYTE_SIZE=16 #16 est le minimum conseillé
PING_TIMEOUT_SEC=3
LOOP_TIME_SEC=2
